<html>

  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.css">
  </head>

  <body>

    <div class="container">

      <h1 class="text-center my-4">Bienvenue sur mon super site de gossip !</h1>

      <h2 class="text-center my-4"> Les potins du moment : </h2>
      <% if gossips.size == 0 %>
        <p> Aucun potin ... </p>
      <% end %>
      <% gossips.each_with_index do |gossip, id| %>
          <p><a href="gossips/<%= id %>/">
            <%= gossip.author %> : <br/>
            <%= gossip.content %>
          </a></p>
        <% end %>
      <div class="text-center my-4" >Tu as du nouveau ? N'hésite pas à <a href="/gossips/new">aller créer un nouveau potin</a>.</div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>